nav {
	height: 60px;
	background: rgb(253,160,213);
	background: linear-gradient(0deg, rgba(253,160,213,1) 45%, rgba(255,232,252,1) 100%);
	border-bottom: 2px solid #f46db9;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	text-decoration: none;
	list-style: none;
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 12px;
}

li:hover {
	color: #fff;
	cursor: pointer;
  	filter: drop-shadow(0 0 2em #646cffaa);
}